.news-card figure {
    margin: 0;
    position: relative;
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.news-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    display: block; 
}

.date-tag {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 20px;
}

.hover-effect-1:hover img {
    transform: scale(1.1);
}

.hover-effect-2:hover img {
    transform: scale(1.1);
}

.hover-effect-3:hover img {
    transform: scale(1.1);
}

.effects1 {
  transition: filter 0.3s ease;
}

.effects1:hover {
  filter: blur(2px);
}


/*
.hover-effect-3 img {
  transition: all 0.5s ease;
}
.hover-effect-3:hover img {
  filter: blur(1px);
  transform: scale(1.05) translateY(-5px);
} */